body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.reactElement {
  width: 50%;
}